.d-f{
    background: var(--light-color);
}

.d-rc-1{
    display: flex;
    justify-content: center;
    p{
        margin: 0px 50px;
        font-size: 11px;
        margin-bottom: 5px;
        margin-top: 40px;
        color: var(--background-color);
    }
}

.d-rc-2 p{
    margin: 10px;
    color: var(--background-color);
    font-size: 11px;
}