.d-f{
    background: var(--color-darker-shade);
}

.d-rc-1{
    display: flex;
    justify-content: center;
    p{
        margin: 0px 50px;
        font-size: 11px;
        margin-bottom: 5px;
        margin-top: 40px;
    }
}

.d-rc-2 p{
    margin: 10px;
    color: gray;
    font-size: 11px;
}